{{!-- Create a table --}}
<div class="table-container">
<table id="Orders-table" class="center">
    <caption>Customers</caption>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}

        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Address}}</td>
            <td>{{this.Phone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

{{!-- Form to add a record to the table --}}

<button type="button" class="open-button" onclick="openAddCustomer()" id="add">Add a Customer</button>


<div class="form-popup" id="addCustomerForm">
<form id="add-Customer-form-ajax" class="form-container">New Customer
    <button type="button" id="close" onclick="closeAddCustomer()">X</button><br>

    <label for="input-customer_Name">Customer Name: </label><br>
    <input type="text" name="input-customer_Name" id="input-customer_Name"><br>

    <label for="input-address">Address: </label><br>
    <input type="text" name="input-address" id="input-address"><br>

    <label for="input-phone">Phone: </label><br>
    <input type="number" name="input-phone" id="input-phone"><br><br>

    <input type="submit" value="Add Customer">
</form>
<div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_Customer.js"></script>
